In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df=pd.read_csv('covid_toy.csv')

In [5]:
df.sample(8)

    age  gender  fever   cough       city has_covid
19   42  Female    NaN  Strong  Bangalore       Yes
42   27    Male  100.0    Mild      Delhi       Yes
90   59  Female   99.0  Strong      Delhi        No
74   34  Female  104.0  Strong      Delhi        No
43   22  Female   99.0    Mild  Bangalore       Yes
4    65  Female  101.0    Mild     Mumbai        No
53   83    Male   98.0    Mild      Delhi       Yes
94   79    Male    NaN  Strong    Kolkata       Yes

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [15]:
X_train.head()

    age  gender  fever   cough     city
58   23    Male   98.0  Strong   Mumbai
10   75  Female    NaN    Mild    Delhi
24   13  Female  100.0  Strong  Kolkata
84   69  Female   98.0  Strong   Mumbai
26   19  Female  100.0    Mild  Kolkata

In [14]:
X_test.head()

    age  gender  fever   cough       city
53   83    Male   98.0    Mild      Delhi
48   66    Male   99.0  Strong  Bangalore
6    14    Male  101.0  Strong  Bangalore
81   65    Male   99.0    Mild      Delhi
5    84  Female    NaN    Mild  Bangalore

In [18]:
from sklearn.compose import ColumnTransformer

In [33]:
transformer = ColumnTransformer(transformers=[('t1',SimpleImputer(),['fever']),('t2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                                             ('t3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])],remainder='passthrough')

In [52]:
y=transformer.fit_transform(X_train)
y_df=pd.DataFrame(y)

In [53]:
y_df.shape

(80, 7)

In [40]:
z=transformer.transform(X_test)

In [49]:
z_df=pd.DataFrame(z)
z_df.shape

(20, 7)